/* * {
    border: 1px solid red;
} */

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:linen;
    
}

body {
    background-color:#444;
}

header {
    display:flex;
    text-align: center;
}

#news {
    background-color: #101;
}

#live {
    background-color: #111;
}

section {
    background-color: #222;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 1rem;
    border-radius: 12px;
    filter: drop-shadow(8px 8px 4px rgba(20,20,20,0.8));
    font-size: 1.5rem;
    /* box-shadow: dimgray 4px;
     */

}

section > h1, section > h2, section > h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

section > ul {
    margin-top: 0;
    margin-bottom: 0;
}

header > div {
    padding: 10px;
}

.true {
    list-style-type: "✔️";
}

.false {
    list-style-type: "⚠️";
}

.link {
    list-style-type: "🔗";
}

#header-left {
    flex-grow: 1;
    text-align: right;
}

#header-right {
    flex-grow: 1;
    font-size: 69px;
    text-align: left;
}

#logo {
    height: 100px;
}
